@{
    Layout = "~/Views/Shared/Template/_LayoutLogin.cshtml";
}

<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="request-form">
                        <div class="form-header">
                            <h1>Forgot Password</h1>
                        </div>
                        <form form class="user">
                            <div class="input-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input id="inputEmail" class="form-control" placeholder="Email" type="email" name="email">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input id="inputuserId" class="form-control" placeholder="Employee Id" type="text" name="employeeID">
                                </div>
                            </div>
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-5">
                                    <button id="forgotbtn" type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}